@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800&display=swap');

*{
  font-family: 'Poppins', serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border: none;
  //text-transform: capitalize;
}

$crimson: crimson;
$black: #0d0d0d;
$light-bg: #1a1a1a;
$white: #fff;
$darkorange: #DD6E0F;
$light-color: #aaa;
$box-shadow: gray;

@mixin grid($valeur){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($valeur, 1fr));
    gap: 1.5rem;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;

  &::-webkit-scrollbar{
    width: 1rem;
  }

  &::-webkit-scrollbar-track{
    background: $darkorange;
  }

  &::-webkit-scrollbar-thumb{
    background: aqua;
  }

  &::-webkit-scrollbar-thumb{
    background: $crimson;
    border-radius: 5rem;
  }
}

body{
  background: $black;
  padding-bottom: 6.5rem;
}

section{
  padding: 5rem 9%;
}

.home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh - 4.5rem);

  .image{
    flex: 1 1 42rem;
    text-align: center;

    img{
      height: 40rem;
      width: 40rem;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }
}

.btn{
  display: inline-block;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  align-items: center;
  background: $darkorange;
  font-size: 1.6rem;
  color: $white;
  padding: 0.7rem 0.7rem 0.7rem 1rem;
}



.content {
  flex: 1 1 62rem;

  h3{
    color: white;
    font-size: 4rem;
    padding-bottom:.5rem ;
  }

  span{
    font-size: 3rem;
    color: $darkorange;
    padding: .5rem 0;
    display: block;
  }

  p{
    font-size: 1.5rem;
    color: $light-color;
    padding: 1rem 0;
    line-height: 2rem;
  }


  i{
    height: 3rem;
    width: 3rem;
    line-height:3rem ;
    font-size:1.6rem ;
    text-align: center;
    background: white;
    color: $darkorange;
    border-radius: 50%;
    margin-left: 0.5rem;
    transition: .2s linear;
    &:hover {
      margin-left: 2rem ;
    }
  }


}

.navbar{
  position: fixed;
  bottom: 0;left: 0; right: 0;
  display: flex;
  z-index: 1000;
  align-items: flex-end;

  a{
    padding: 2rem;
    font-size: 2rem;
    background: $light-bg;
    flex: 1;
    text-align: center;
    transition: .2s linear;
    color:$white;

    i{
      color: $darkorange;
      padding-right: .5rem;
    }

    &:hover {
      background: #aaaaaa;
      padding-bottom: 3rem;
      color: #0d0d0d;
      i{
        color: #0d0d0d;
      }
    }
  }
}

//Section apropos

.heading{
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 3.5rem;
    span{
      color: $darkorange;
      font-size: 3.5rem;
    }
  //margin-bottom: -4rem;
}

#apropos{
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .info-container{
      flex: 1 1 42rem;
      h1{
        color: white;
        text-transform: uppercase;
        font-size: 2.7rem;
      }
      .box-container{
        padding: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .box{
          flex: 1 1 5rem;
          h3{
            font-size: 1.3rem;
            color: white;
            padding: 0.1rem 0;
            font-weight: normal;

          }
        }
      }

    }

    .count-container{
      padding-top: 6rem;
      flex: 1 1 42rem;
      display: flex;
      flex-wrap: wrap;
      //align-items: center;
      //justify-content: center;
      gap: 1rem;

      .box{
        padding: 1.8rem 1.8rem;
        border-radius: .5rem;
        background: $light-bg;
        box-shadow: $box-shadow;

        h3{
          font-size: 1.8rem;
          color: $darkorange;
        }
        p{
          padding-top: 1rem;
          font-size:1.6rem;
          color: $light-color;
          text-transform: uppercase;
        }
      }
    }
  }
}



//Section competences

#competences{
  .info-container{
    h2{
     color: gray;
    }
  }
  .box-container-competence{
    @include grid(16rem);
    margin-bottom: 1rem;
    .box-competence{
      &:hover{
        background: $white;

        h3{
          color: $black;
        }
      }
      padding: 2rem;
      text-align: center;
      border-radius:.4rem ;
      background: $light-bg;

      img{
        height: 7rem;
        padding-bottom: 1rem;
      }
      h3{
        text-transform: uppercase;
        color: white;
      }
    }
  }
}

//Section parcours
#parcours{
  .box-container{
    display: flex;
    flex-wrap: wrap;

    .box{
      flex: 1 1 40rem;
      margin-left: 2rem;
      padding-left: 3.5rem;
      padding-bottom: 2rem;
      border-bottom: 2rem;
      border-left:.1rem solid $light-color;
      position: relative;
      color: white;
      span{
        color: $darkorange;
        border-radius: 0.5rem;
        font-weight: normal;
      }

      i{
        height: 3.5rem;
        width: 3.5rem;
        line-height: 3.5rem;
        font-size: 1.8rem;
        border-radius: 50%;
        background: $darkorange;
        color:white;
        text-align: center;
        position: absolute;
        top: 0; left: -2rem;

      }

    }
  }
}

//Section contact

#contact{
  .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    form{
      flex: 1 1 42rem;

      .inputBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .inputBox input,
      textarea{
        border-radius: 0.5rem;
        padding: 1.2rem 1.8rem;
        font-size: 1.5rem;
        color: white;
        text-transform: none;
        margin: 0.5rem 0;
        background: $light-bg;
      }

      input{
        width: 49%;
      }
      input.btn{
       width: auto;
      }
      textarea{
        width: 100%;
        resize: none;
        height: 25rem;
      }
    }
  }

}
.footer {
  .reseau {

    h3 {
      text-align: center;
      color: $light-color;
      text-transform: uppercase;
      font-size: 2rem;
      padding-bottom: 1.5rem;
    }
  .socialmedia{
    display: flex;
    justify-content: space-between;
    a{
      color: $light-color;
    }
  }
  }
}

//media queries

@media (max-width: 1200px){
  html{
    text-align: center;
    font-size: 55%;
  }
  section{
    padding: 3rem 1.8rem;
  }
}

@media (max-width: 768px){
  .navbar{
    a{
      i{
        padding: 0;
      }

      span{
        display: none;
      }

      &:hover{
        padding-bottom: 2rem;
      }
    }
  }

  .home{
    text-align: center;
    gap: 2rem;
    .image img{
      height: 30rem;
      width: 30rem;
    }

    .content{
      h3{
        font-size: 2.9rem;
      }
      span{
        font-size: 2.5rem;
      }
    }
  }
}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }

  .count-container{
    justify-content: center;
  }
}